.views-table {
	text-align: left;
}

th.views-field {
	color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;
	text-align: left;
}

td.views-field {
	color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;
	text-align: left;	
}

.contextual-links-region {
	display: none;
}

.views-field {
  color: pink;
}