/*
Syntax error: Undefined mixin 'cf'.
        on line 20 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss, in `cf'
        from line 20 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss
        from line 81 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/styles-legacy.scss

Backtrace:
/var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss:20:in `cf'
/var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss:20
/var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/styles-legacy.scss:81
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/commands/update_project.rb:45:in `perform'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/bin/compass:44:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.0.0-p0/bin/compass:23:in `load'
/usr/local/rvm/gems/ruby-2.0.0-p0/bin/compass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-2.0.0-p0/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'cf'.\A         on line 20 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss, in `cf'\A         from line 20 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/_layout.scss\A         from line 81 of /var/www/sites/james/cosy/trunk/server_files/sites/all/themes/cosy/library/stylesheets/sass/styles-legacy.scss"; }
