<font size="5" face="arial,sans-serif" color="#a1936e" style="color: #a1936e; font-size: 20px; line-height: 25px; letter-spacing: 2px; font-family: arial, sans-serif; text-transform: uppercase;"> <strong>CONFIRMATION DE COMMANDE</strong> </font> <br /> <br /> Bonjour, merci pour votre commande. Nous vous enverrons un email avec un numéro de suivi d'expédition dès que vous colis sera expédié. Vous pouvez suivre votre historique de commandes à tout
moment en vous connectant à votre <a href="[site:login-url]">compte.</a> <br /> <br />
<table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
  <tbody>
    <tr>
      <th bgcolor="#ece9e2" align="left" colspan="2">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Récapitulatif de la commande</font>
      </th>
    </tr>
    <tr>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Commande ID:</font>
      </td>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[date:custom:Y]-[commerce-order:order-id]</font>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Date commande:</font>
      </td>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:created]</font>
      </td>
    </tr>
    <tr>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Moyen de paiement:</font>
      </td>
      <td valign="top">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:payment-method-title]</font>
      </td>
    </tr>
  </tbody>
</table> <br>
<table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
  <tbody>
    <tr>
      <th bgcolor="#ece9e2" cellpadding="10" align="left">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal; font-size: 16px; line-height: 24px; font-family: georgia, times, serif; text-align: left;">Contenu de la commande</font>
      </th>
    </tr>
    <tr>
      <td valign="top" align="left">
        <div size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_line_items]</div>
        <div size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_order_total]</div>
      </td>
    </tr>
  </tbody>
</table> <br>
<table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
  <tbody>
    <tr>
      <th bgcolor="#ece9e2" align="left">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Information de facturation</font>
      </th>
    </tr>
    <tr>
      <td valign="top" align="left">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_customer_billing]</font>
      </td>
    </tr>
  </tbody>
</table> <br>
<table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
  <tbody>
    <tr>
      <th bgcolor="#ece9e2" align="left">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Information de livraison</font>
      </th>
    </tr>
    <tr>
      <td valign="top" align="left">
        <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_customer_shipping]</font>
      </td>
    </tr>
  </tbody>
</table> <br>