<font size="5" face="arial,sans-serif" color="#a1936e" style="color: #a1936e; font-size: 20px; line-height: 25px; letter-spacing: 2px; font-family: arial, sans-serif; text-transform: uppercase;"> <strong>Order Confirmation</strong> </font> <br /> <br /> Hello, thank you for ordering from Cosy and The Gang. We will send you an email with a tracking number as soon as your order is shipped. You can view your order history with us at any time by
<a
  href="[site:login-url]">logging into our website.</a> <br /> <br /> <br />
  <table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
    <tbody>
      <tr>
        <th bgcolor="#ece9e2" align="left" colspan="2">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal;  font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Order overview</font>
        </th>
      </tr>
      <tr>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Order ID:</font>
        </td>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[date:custom:Y]-[commerce-order:order-id]</font>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Order date:</font>
        </td>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:created]</font>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Payment method:</font>
        </td>
        <td valign="top">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:payment-method-title]</font>
        </td>
      </tr>
    </tbody>
  </table> <br>
  <table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
    <tbody>
      <tr>
        <th bgcolor="#ece9e2" cellpadding="10" align="left">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal;  font-size: 16px; line-height: 24px; font-family: georgia, times, serif; text-align: left;">Shopping cart contents</font>
        </th>
      </tr>
      <tr>
        <td valign="top" align="left" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_line_items]</font>
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_order_total]</font>
        </td>
      </tr>
    </tbody>
  </table> <br>
  <table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
    <tbody>
      <tr>
        <th bgcolor="#ece9e2" align="left">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Billing information</font>
        </th>
      </tr>
      <tr>
        <td valign="top" align="left">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_customer_billing]</font>
        </td>
      </tr>
    </tbody>
  </table> <br>
  <table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
    <tbody>
      <tr>
        <th bgcolor="#ece9e2" align="left">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Shipping information</font>
        </th>
      </tr>
      <tr>
        <td valign="top" align="left">
          <font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:commerce_customer_shipping]</font>
        </td>
      </tr>
    </tbody>
  </table> <br>