<font size="5" face="arial,sans-serif" color="#a1936e" style="color: #a1936e; font-size: 20px; line-height: 25px; letter-spacing: 2px; font-family: arial, sans-serif; text-transform: uppercase;"> <strong>Shipping Confirmation</strong> </font> <br />
<br />
Hello, 

Your order <strong>[date:custom:Y]-[commerce-order:order-id]</strong> has now shipped, you can track the progress using the details below:
<br />
<br />
<table width="518" cellspacing="0" cellpadding="20" bordercolor="#ece9e2" border="0" bgcolor="#ffffff" style="border-collapse: collapse;" class="bordered">
  <tbody>
    <tr>
      <th bgcolor="#ece9e2" align="left" colspan="2"><font size="4" color="#666666" face="georgia,times,serif" style="color: #a1936e; font-weight: normal;  font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Shipping information</font></th>
    </tr>
    <tr>
      <td valign="top"><font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Tracking Number:</font></td>
      <td valign="top"><font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:field-tracking-number]</font></td>
    </tr>
    <tr>
      <td valign="top"><font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">Tracking Site:</font></td>
      <td valign="top"><font size="4" color="#666666" face="georgia,times,serif" style="color: #666666; font-size: 16px; line-height: 24px; font-family: georgia, times, serif;">[commerce-order:field-tracking-link:url]</font></td>
    </tr>
  </tbody>
</table>
<br />
Thank you for shopping with us!