.block-static-design-blocks.action-links {
	padding:0;
	margin: 20px 20px 0;
	overflow: hidden;
	max-width:998px;
	background:$light-gold;

	@include from-grid-6() {
		margin: 0 auto;
	}
	
	.container {
		border-bottom: 1px solid #fff;
		overflow: hidden;
		margin-bottom: 30px;
		padding-bottom: 20px;
		text-align: center;
	}
	
	li {
		display: inline-block;
		list-style: none;
		margin: 0 20px;
		text-align: center;
		@include adjust-font-size-to(18px, 3);
	
		&.active a {
			color: $black;
		}
	
	}

}

.account-title {
	
	.container {
		padding:rhythm(8) 0 0 0;
	}
}

// Main wrapper style for light-gold box on user sections

.user-panel {

	#main {
		.container {
	
			max-width:998px;
			background:$light-gold;
			margin: 20px 20px 0;
			padding: 20px 20px 30px 20px;
			
			@include from-grid-6() {
				margin: rhythm(10) auto 0 auto;
			}
			
			@include from-grid-12() {
				padding:40px rhythm(30) rhythm(10) rhythm(30);
			}
		
		}
	}

	.form-item {
		label {
			display: block;
			margin:rhythm(2) 0;
		}
	}
	input[type="text"],
	input[type="password"] {
		width:100%;
		box-sizing : border-box;
	}
	.description {
		@include adjust-font-size-to(16px, 4);
		margin-bottom: 20px;
		padding-top: 10px;
	}
	.form-actions {
		margin:rhythm(4) 0 0 0;
	}


	.form-item-language {
		clear: both;
		overflow: hidden;
		padding: 1px;
	
		.form-radio {
			float: left;
			margin-top: 7px;
		}
	
		label {
			width: auto !important;
			float: left;
			margin: 0 0 20px 10px;
		
			&:first-child {
				display: none;
			}
		
		}
	}

}

.form-item-timezone select {
	max-width: 240px;
	@include from-grid-6() {
		max-width: none;
	}
}

// Spacing between login/register/forgot blocks


#user_login_form {
	padding-bottom: 30px;
}
.create-account {
	border-top: 1px solid $lightGrey;
	padding-top: 30px !important;
	@include adjust-font-size-to(18px, 3);
	
	h2 {
		letter-spacing: 0px;
		text-align: left;
		margin-top: 0;
		text-transform: none;
	}
	
	.login-register {
		display: inline-block;
		padding: 15px 30px;
		color:white;
		font-style: italic;
		background:$altBackground;
		transition: color 0.2s linear, background 0.2s linear;
		
		&:hover {
			color: $gold;
			background: black;
		}
		
	}
	
}
.back-to-login {
	padding-top: 30px;
}

// Already on file address block

.form-item-customer-profile-billing-addressbook {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 5px solid $lightGrey;
	
	.description {
		@include adjust-font-size-to(18px, 3);
	}

	#edit-customer-profile-billing-addressbook {
		margin-bottom: 10px;
	}
	
}


// User logged in area
.component-title,
.component-total {
  white-space: nowrap;
}
.page-user .main .container {
	position: relative;
	padding-top: 30px;
	
	@include from-grid-9() {
		padding-left: 280px;
		padding-top: 60px;
		min-height: 400px;
	}

	.user-nav {
		padding-top: 60px;
		
		@include from-grid-9() {
			position: absolute;
			left: 0;
			top: 0;
		}
	
		li {
			padding: 0 0 10px !important;
			border: none !important;
		
			&.active a {
				color: #666;
			}
		
		}
	
	}
	
	.profile {
		min-height: 500px;
		
		li {
			list-style: none;
			border-bottom: 1px solid $lightGrey;
			padding-bottom: 30px;
			padding-top: 30px;
		}
		
		h3 {
			display: none;
		}
		
		h4 {
			text-transform: none;
			letter-spacing: 0px;
			margin-bottom: 20px;
			font-family:$bodyFont;
			margin-top: 0;
		}
		
		h3 + ul {
			
			li:first-child {
				padding-top: 0px;
			}
			
			li:last-child {
				border: none;
			}
		}
		
	}
	
	
	.form-item {
		label {
			display: block;
			margin:rhythm(2) 0;
		}
	}
	input[type="text"],
	input[type="password"] {
		width:100%;
		box-sizing : border-box;
	}
	.description {
		@include adjust-font-size-to(16px, 4);
		margin-bottom: 20px;
		padding-top: 10px;
	}
	.form-actions {
		margin:rhythm(4) 0 0 0;
	}

	.form-item-current-pass label {
		margin-top: 0;
	}

	.form-item-language {
		clear: both;
		overflow: hidden;
		padding: 1px;
	
		.form-radio {
			float: left;
			margin-top: 7px;
		}
	
		label {
			width: auto !important;
			float: left;
			margin: 0 0 20px 10px;
		
			&:first-child {
				display: none;
			}
		
		}
	}
	
}

.page-user-addressbook-shipping-edit .main .container,
.page-user-addressbook-billing-edit .main .container {
	padding-left:0!important;
}

.view-commerce-user-orders {
	padding-top: 30px;
	min-height: 500px;
}

.country.form-select {
	max-width: 280px;
	@include from-grid-6() {
		max-width: none;
	}
}

.field-name-commerce-customer-address {
	margin-bottom: 20px;
}