/* =============================================================================
   Add to cart form
   ========================================================================== */

.commerce-add-to-cart {
  input[type="submit"] {
    padding: 15px 30px;
    float: left;
  }
}

#edit-submit.added {
  background: $black;
  color: $gold;
}

.attribute-widgets {
  margin-right: 20px;
  /* float:left; */
  margin-bottom: 20px;
}

fieldset {
  legend {
    padding: rhythm(4) 0 rhythm(2);
    @include adjust-font-size-to(18px, 3);
  }
}

.fieldset-wrapper {
  label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    @include adjust-font-size-to(18px, 3);
  }
}

.customer_profile_billing {
  .form-item {
    padding: 0 0 30px;
  }
}

#commerce-checkout-form-checkout {
  .customer_profile_billing {
    border-top: 5px solid $lightGrey;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  fieldset legend {
    width: 100%;
    float: left;
  }
  .fieldset-wrapper {
    clear: left;
  }
}

.button-operator {
  display: inline-block;
  padding-left: 10px;
}

.page-checkout {
  input[type="text"] {
    width: 100%;
  }
}

.checkout-cancel {
  color: $gold;
}

.commerce-price-formatted-components .component-type-commerce-price-formatted-amount {
  .component-title,
  .component-total {
    font-size: 21px;
    color: $gold;
    font-family: $headingFont;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
  }
  .component-total {
    font-family: $headingFont;
    font-weight: normal;
    text-align: right;
  }
}

.checkout-help {
  padding-bottom: 30px;
}

#commerce-checkout-form-login {
  background: $light-gold;
  padding: 0 20px 10px 20px;
  @include from-grid-6() {
    padding: 0 rhythm(30) rhythm(10) rhythm(30);
  }
}

.commerce_payment {
  border-top: 5px solid $lightGrey;
  padding-bottom: 30px;
  legend {
    width: 100%;
    float: left;
  }
}

.checkout_review .view-footer {
  border-bottom: 5px solid $lightGrey;
}

table.checkout-review .pane-title td,
table.checkout-review .pane-data-full {
  padding-left: 0;
  padding-right: 0;
}

table.checkout-review .pane-title td {
  padding-bottom: 0;
}

.customer_profile_billing legend {
  margin-bottom: 20px;
}

#edit-commerce-payment-payment-method {
  label {
    width: auto;
    float: left;
    padding-left: 10px;
  }
  input {
    float: left;
  }
}

.commerce_shipping {
  padding-bottom: 30px;
}

input.postal-code {
  text-transform: uppercase;
}

// Terms checkbox
.terms_conditions {
  padding-top: 20px;
  border-top: 1px solid $lightGrey;
  padding-bottom: 30px;
  legend {
    float: left;
  }
  .fieldset-wrapper {
    clear: both;
  }
}

.form-item-customer-profile-shipping-commerce-customer-profile-copy,
.form-item-terms-conditions-commerce-agree-terms-pane-field {
  input {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
  }
}

.checkout-cancel,
.checkout-back {
  color: $gold !important;
}

.form-item-commerce-shipping-shipping-service {
  input[type="radio"] {
    float: left;
    margin-top: 4px;
    margin-right: 10px;
  }
}

#edit-continue-shopping {
  float: left;
}

.form-item-commerce-payment-payment-details-credit-card-code:after {
  width: 166px;
  height: 31px;
  content: "";
  display: block;
  background: url('../../images/raster/cards.png') right 1px no-repeat;
  background-size: 100%;
  margin: 20px 0;
}

#edit-commerce-payment-payment-details-credit-card-owner,
#edit-commerce-payment-payment-details-credit-card-number {
  max-width: 500px;
}

// To hide the double output of a product name in the table.
// td.views-field-title,
// th.views-field-title {
//     display: none;
// }
.field-name-commerce-order-total .commerce-price-formatted-components,
.commerce-order-handler-area-order-total .commerce-price-formatted-components {
  width: 100% !important;
  margin-left: 0;
  @include from-grid-9() {
    width: 33% !important;
    margin-left: auto;
  }
}

.commerce-order-handler-area-order-total,
.commerce-price-formatted-components {
  // border-top: 1px solid #e2e2e2;
}

.field-name-commerce-customer-shipping .field-label,
.field-name-commerce-customer-billing .field-label {
  font-weight: bold;
  color: #a1936e;
}

.field-name-commerce-customer-shipping,
.field-name-commerce-customer-billing {
  font-size: 90%;
}