/* =============================================================================
   Titles
   ========================================================================== */
.with-icon {
	@include cf();
	h2 {
		margin-top:60px;
		position:relative;
		
		@include from-grid-6() {
			margin-top: 60px;
		}

		&:before {
	      
	      @include pseudo-block(60px, 60px);
	      top:-28px;
	      cursor: pointer;
	      
		 @include from-grid-6() {
		 	@include pseudo-block(120px, 120px);
		 	top:-38px;
		 }
	      
	      /*
	      * The title icon variations, shoild always a a class higher up from .with-icon
	      */
	      .checkout-title &,
	      .cart-title & {
	      		@include svg-icon-basket(60);
		  		@include from-grid-6() {
			  		@include svg-icon-basket(120);
			  	}
	      } 

	      .account-title & {
	      		@include svg-icon-user(60);
		  		@include from-grid-6() {
			  		@include svg-icon-user(120);
			  	}
	      }

	      
		}
	}
}

.page-user h1 {
	margin-top:60px;
	position:relative;
	
	@include from-grid-6() {
		margin-top: 60px;
	}
	
	&:before {
      
      @include pseudo-block(60px, 60px);
      @include svg-icon-user(60);
      top:-28px;
      cursor: pointer;
      
		 @include from-grid-6() {
		 	@include pseudo-block(120px, 120px);
		 	top:-38px;
		 	@include svg-icon-user(120);
		 }
	 
	 }
}

.account legend span.fieldset-legend {
	margin-top:60px;
	position:relative;
	text-align: center;
		
	@include from-grid-6() {
		margin-top: 60px;
	}

		&:before {
	      
			@include pseudo-block(60px, 60px);
			@include svg-icon-user(60);
			top:-28px;
			cursor: pointer;
	      
			@include from-grid-6() {
		 		@include pseudo-block(120px, 120px);
		 		top:-38px;
		 		@include svg-icon-user(120);
		 	}
	      
		}
}


/*
* Collection icons
*/
.collection-kitchen {
	h2:before {
		@include svg-cat-kitchen(60);
		@include from-grid-6() {
			@include svg-cat-kitchen(120);
		}
	}
}
.collection-furniture {
	h2:before {
		@include svg-cat-furniture(60);
		@include from-grid-6() {
			@include svg-cat-furniture(120);
		}
	}
}
.collection-lifestyle {
	h2:before {
		@include svg-cat-lifestyle(60);
		@include from-grid-6() {
			@include svg-cat-lifestyle(120);
		}
	}
}
.collection-new-things {
	h2:before {
		@include svg-cat-new-things(60);
		@include from-grid-6() {
			@include svg-cat-new-things(120);
		}
	}
}
.collection-print-goods {
	h2:before {
		@include svg-cat-print(60);
		@include from-grid-6() {
			@include svg-cat-print(120);
		}
	}
}
.collection-textile {
	h2:before {
		@include svg-cat-textile(60);
		@include from-grid-6() {
			@include svg-cat-textile(120);
		}
	}
}

.search-icon {
	h2 {
		margin-top:90px;
		margin-bottom: 60px;
	}
	h2:before {
		@include svg-search-icon(60);
		@include from-grid-6() {
			@include svg-search-icon(120);
		}
	}
}


.page-title {
	padding-top: 50px;
	.page-search &,
	.node-type-standard-flexible &,
	.page-about &,
	.page-checkout &,
	.page-cart &,
	.node-type-product & {
		display: none;
	}
}