/* =============================================================================
   Base Styles
   ========================================================================== */

$container-style:magic;

$backgroundColor:#ffffff;
$altBackground:#a1936e;
$baseColor:#ece9e2;

$gold: $altBackground;
$light-gold: $baseColor;

$black: #0e0e0e;
$darkGrey: #333333;
$lightGrey: #e2e2e2;

$white: #fff;

$baseFontColor:#666666;
$altFontColor:#a1936e;

$linkColor:$altFontColor;
$linkColorHover:$baseFontColor;
$linkColorActive:$altFontColor;

$keyline: #dcd8ce;


/* =============================================================================
   Susy
   ========================================================================== */
$cosyPadding:   25px;

$column-width:  42px;
$gutter-width:  47px;
$grid-padding:  20px;
$total-columns: 4;

$grid-4-min:    0px;
$grid-4-max:    486px;

$grid-6-min:    487px;
$grid-6-max:    753px;

$grid-9-min:    754px;
$grid-9-max:    1020px;
$grid-12-max:   9000px;

$grid-4-only :  $grid-4-min 4 $grid-4-max;
$grid-6-only :  $grid-6-min 6 $grid-6-max;
$grid-9-only :  $grid-9-min 9 $grid-9-max;
$grid-12-only: 12;

$grid-4-to-6 :  $grid-4-min $grid-6-max;
$grid-9-to-12 : $grid-9-min $grid-12-max;


$allColumns:($column-width * $total-columns);
$allGutters:($gutter-width * ($total-columns - 1));
$totalWidth:$allColumns + $allGutters;


/* =============================================================================
   Animation
   ========================================================================== */
$use-fadeIn: true;
$use-fadeOut: true;
$base-duration: 0.5s;  

/* =============================================================================
   Fonts
   ========================================================================== */
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,400italic,700italic,700);

$base-font-size:21px;
$base-line-height:6px;
$headingFont:'Montserrat', sans-serif;
$bodyFont:"Crimson Text", "Georgia", serif;


/* =============================================================================
   SVG
   ========================================================================== */
   /*
$map1x: sprite-map("1x/*.png",$spacing:50px);
$map2x: sprite-map("2x/*.png",$spacing:100px);
$mapPng: sprite-map("png/*.png",$spacing:50px);
$generate_sprites: false;
*/