/*
* All design in here
*/
/* =============================================================================
   Slices
   ========================================================================== */
.region-content {
	overflow: hidden;
	.slice {
		clear:both;
		@include cf();
		@include only-grid-4() {
			padding: 1px 0;
		}
		padding: rhythm(8) 0;
	}
}
.cosy-categories,
.alternate {
	background: darken($baseColor,2%);
}


/* =============================================================================
   Spacing fixes (TEMP)
   ========================================================================== */
.block-static-design-blocks.cart-title {
	padding-bottom:rhythm(5);
}
.not-front .block-system.main {
	padding-top:1px;
}

.node-type-product .block-system.main,
.page-collection .block-system.main {
	padding-top: 30px;
	
	@include from-grid-6() {
		padding-top:60px;
	}
}

#cosy-pages {

	padding-bottom: 40px;

	@include from-grid-6() {
		padding-bottom:100px;
	}

	.medium-title {
		padding-bottom: 3px;	
	}

}

.form-item-commerce-payment-payment-method {
	display: none;
}

.form-item label {
	margin: 1em 0 0.5em 0;
}

#edit-commerce-payment-payment-details-credit-card-code {
	max-width: 100px;
}