/* =============================================================================
   Typography
   ========================================================================== */

/* =============================================================================
   Headings
   ========================================================================== */   

h1,h2,h3,h4,h5,h6 {
	font-family:$headingFont;
    color:$altFontColor;
    text-transform: uppercase;
    font-weight: bold;
}
input {
	font-family:$bodyFont;
    font-weight: normal;	
}

/* =============================================================================
   Headings styling
   ========================================================================== */

h2,
.page-user h1 {
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   @include only-grid-4() {
      @include adjust-font-size-to(18px, 4);
      margin:rhythm(5) 0;
   }
   @include adjust-font-size-to(24px, 8);
   letter-spacing: 2px;
   margin:rhythm(3) 0;
   span {
      font-family:$bodyFont;
      font-style: italic;
      font-weight: normal;
      text-transform: initial;
      letter-spacing: normal;
      display: block;
      @include only-grid-4() {
         @include adjust-font-size-to(18px, 4, 20px);
      }
      @include adjust-font-size-to(20px, 2, 24px);
   
	  a {
		  border-bottom: 1px solid $altFontColor;
	  }
   
   }
}

h3 {
	@include adjust-font-size-to(18px, 2, 22px);
	margin-bottom: 20px;
	padding-top: 20px;	
}

.node-type-standard-flexible #main h2 {
	text-align: left;
}

.cosy-tr {
   @include svg-cosy-brown(250);
   @include hide-text(left);
   display: inline-block;

}


// Category header in teaser
.title,
.account legend span.fieldset-legend {
   font-family:$headingFont;
   font-weight: normal;
   color:$altFontColor;
   display: block;

   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   @include adjust-font-size-to(18px, 8);
   @include from-grid-9() {
      @include adjust-font-size-to(22px, 8);
   }
   letter-spacing: 2px;
   margin:rhythm(3) 0;
   width:100%;
   span {
      font-family:$bodyFont;
      font-style: italic;
      font-weight: normal;
      text-transform: initial;
      letter-spacing: normal;
      display: block;
      @include adjust-font-size-to(20px, 2, 24px);
   }
}

.small-title {
   @include adjust-font-size-to(16px, 8);
}

.medium-title {
   @include adjust-font-size-to(20px, 10);
}

.title-as-copy {
   font-family:$bodyFont;
   color:$baseFontColor;
   @include adjust-font-size-to(18px, 4);
   margin: 0;
   font-weight: normal;
   text-transform: none;
}

/* =============================================================================
   Body Copy
   ========================================================================== */

p {
	font-family:$bodyFont;
	margin-bottom:rhythm(3);
}
.node-standard-flexible {
	@include from-grid-12() {	
		padding-top: 20px;
	}
}
.node-standard-flexible p {
	@include adjust-font-size-to(18px, 5);
	
	@include from-grid-12() {
		max-width: 80%;
	}
	
}