/* =============================================================================
   Icons
   ========================================================================== */
.region-header .menu {
  position: relative;
  background: $black;
  display:inline-block;
  @include hide-text(left);
  width:60px;
  height:60px;
  @include from-grid-6() {
    width:100px;
    height:80px;
  }
  &:after {
      @include svg-hamburger(20);
      @include pseudo-block(20px, 15px);

      @include from-grid-6() {
        @include svg-hamburger(40);
        @include pseudo-block(40px, 29px);
      }
  }

  .menu-opening &,
  .menu-opened & {
    &:after {
      @include svg-menu-close(20);

      @include from-grid-6() {
        @include svg-menu-close(33);
        @include pseudo-block(33px, 33px);
      }
    }
  }
}

.user-account {
  width: 60px;
  height: 60px;
  position: relative;
  
  @include hide-text(left);
  @include keyline();
  @include from-grid-6() {
    width:74px;
    height:80px;
    display:inline-block;
  }
  &:after {
      @include svg-account(13);
      @include pseudo-block(13px, 15px);
      @include from-grid-6() {
        @include svg-account(13);
        @include pseudo-block(13px, 15px);
      }
  }
}
.logged-in .user-account {
	&:before {
		@include pseudo-block(5px, 5px);
		right: 15px;
		left: auto;
		top: 20px;
		background: $gold;
		border-radius: 50% 50%;
		-webkit-border-radius: 50% 50%;
		-moz-border-radius: 50% 50%;
		
		@include from-grid-6() {
			right: 25px;
			left: auto;
			top: 28px;
		}
		
	}
}

.search {
  position: relative;
  display: none;
  @include hide-text(left);
  @include keyline();

  @include from-grid-6() {
    width:74px;
    height:80px;
    display:inline-block;
  }
  &:after {
      @include svg-search(14);
      @include pseudo-block(14px, 15px);
  }
}


.pinterest {
  @include svg-pinterest(16);
}
.pinterest-w {
  @include svg-pinterest-w(16);
  
  	#cosy-menu &:hover {
	  	 @include svg-pinterest-b(16);
  	} 
  
}
.pinterest-b {
  @include svg-pinterest-b(16);
}

.instagram {
  @include svg-instagram-b(16);
  
  	#cosy-menu &:hover {
	  	 @include svg-instagram-b(16);
  	} 
  
}

.email {
  @include svg-email(19);
}

.facebook {
  @include svg-facebook(8);
}
.facebook-w {
  @include svg-facebook-w(8);
  
  	#cosy-menu &:hover {
	  	 @include svg-facebook-b(8);
  	} 
}
.facebook-b {
  @include svg-facebook-b(8);
}

.twitter {
  @include svg-twitter(19);
}


/* =============================================================================
   Category
   ========================================================================== */
.cat-new-things {
  @include svg-cat-new-things(214);
  .cosy-menu & {
      @include svg-cat-new-things-w(214);
  }
}
.cat-kitchen {
  @include svg-cat-kitchen(214);
  .cosy-menu & {
      @include svg-cat-kitchen-w(214);
  }
}
.cat-textile {
  @include svg-cat-textile(214);
  .cosy-menu & {
      @include svg-cat-textile-w(214);
  }}
.cat-print-goods {
  @include svg-cat-print(214);
  .cosy-menu & {
      @include svg-cat-print-w(214);
  }
}
.cat-furniture {
  @include svg-cat-furniture(214);
  .cosy-menu & {
      @include svg-cat-furniture-w(214);
  }
}
.cat-lifestyle {
  @include svg-cat-lifestyle(214);
  .cosy-menu & {
      @include svg-cat-lifestyle-w(214);
  }
}