/*
#grid-size {
   &:after {
	   @include only-grid-4() { content:'4'; }
	   @include only-grid-6() { content:'6'; }
	   @include only-grid-9() { content:'9'; }
	   @include from-grid-12() { content:'12'; }
   }
   display:block !important;
   position: absolute;
   top:0;
   right:0;
   color:white;
   padding:10px;
   background: black;
   width:100px;
}
*/

.cf {
  @include cf();
}

.fixed-header {
  margin-top: 60px;
  @include from-grid-6() {
    margin-top: 80px;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}


/* =============================================================================
   Page 
   ========================================================================== */

.page {
  min-width: 320px;
}

.grid-helper:after {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: 25px;
  background: black;
  color: white;
  font-size: 13px;
  z-index: 5000;
  text-align: center;
  padding: 0 4px;
  @include at-breakpoint(4) {
    content: "Grid 4";
  }
  @include at-breakpoint(6) {
    content: "Grid 6";
  }
  @include at-breakpoint(9) {
    content: "Grid 9";
  }
  @include at-breakpoint(12) {
    content: "Grid 12";
  }
}


/* =============================================================================
   Container 
   ========================================================================== */

.region-overlay,
.region-content {
  .container {
    @include container;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    @include at-breakpoint(4) {
      max-width: 100%;
    }
    @include at-breakpoint(6) {
      @include set-container-width(6);
      border-left-width: 40px;
      border-right-width: 40px;
    }
    @include at-breakpoint(9) {
      @include set-container-width(9);
      border-left-width: 0px;
      border-right-width: 0px;
    }
    @include at-breakpoint(12) {
      @include set-container-width(12);
      border-left-width: 0px;
      border-right-width: 0px;
    }
    .container {
      border: 0!important;
    }
  }
}

/*
* Full bleed containers for mobile
*/

.page-collection .main>,
.products-by-featured-block-1 {
  .container {
    @include only-grid-4() {
      padding: 0;
    }
  }
}


/*
.region-content {
	.slice {
		padding:0 25px;
		&.cosy-categories {
			padding:0;
		}
	}
}
*/


/* =============================================================================
   Header
   ========================================================================== */

.region-header,
.header {
  height: 60px;
  @include from-grid-6() {
    height: 80px;
  }
}

.region-header {
  float: left;
  width: 100%;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

#menu {
  position: relative;
  z-index: 100;
}


/* =============================================================================
   Charms
   ========================================================================== */

.charms-left,
.charms-right {}

.charms-left {
  float: left;
}

.charms-right {
  float: right;
}


/* =============================================================================
   Product grid
   ========================================================================== */

.faux-teaser {
  content: " ";
  display: none!important;
  @include from-grid-12() {
    display: block!important;
  }
}


/*
* Basic grid teaser, defaults, other grids will override it.
*
*/

.grid-teaser {
  display: block;
  .bleed {
    display: block;
    @include from-grid-6() {
      @include bleed(11%);
      border-right: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      padding-bottom: 25px;
      padding-top: 1px;
    }
  }
  .image {
    @include from-grid-6() {
      margin-top: 25px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  @include only-grid-4 {
    .bleed {
      border-right: none;
    }
  }
  @include only-grid-6 {
    &:nth-child(2n) {
      .bleed {
        border-right: 1px solid #fff;
      }
    }
    &:nth-child(2n+1):nth-last-child(-n+2),
    &:nth-child(2n+1):nth-last-child(-n+2)~& {
      .bleed {
        border-bottom: 1px solid #fff;
      }
    }
  }
  @include only-grid-9 {
    &:nth-child(3n) {
      .bleed {
        border-right: 1px solid #fff;
      }
    }
    &:nth-child(3n+1):nth-last-child(-n+3),
    &:nth-child(3n+1):nth-last-child(-n+3)~& {
      .bleed {
        border-bottom: 1px solid #fff;
      }
    }
  }
  @include from-grid-12 {
    &:nth-child(4n) {
      .bleed {
        border-right: 1px solid #fff;
      }
    }
    &:nth-child(4n+1):nth-last-child(-n+4),
    &:nth-child(4n+1):nth-last-child(-n+4)~& {
      .bleed {
        border-bottom: 1px solid #fff;
      }
    }
  }
}


/*
* Grid layouts for product grid with lines
*/

.grid-with-lines {
  /* Give it flexbox */
  @include only-grid-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .faux-teaser,
  .grid-teaser {
    @include only-grid-4 {
      flex: 0 50%;
      &:nth-child(odd) {
        background: #f4f4f4;
      }
    }
    @include only-grid-6 {
      @include span-columns(3, 6);
      @include nth-omega(2n);
    }
    @include only-grid-9 {
      @include span-columns(3, 9);
      @include nth-omega(3n);
    }
    @include from-grid-12 {
      @include span-columns(3, 12);
      @include nth-omega(4n);
    }
  }
}


/*
* Grid without lines, default grid for collections
*/

.grid-without-lines {
  //@include x-display('flex');
  //@include x-flex-direction('row');
  //@include x-flex-wrap('wrap');
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  .faux-teaser,
  .grid-teaser {
    @include only-grid-4 {
      width: 30%;
      margin-right: 5%;
      float: left;
      @include nth-omega(3n);
    }
    @include only-grid-6 {
      @include span-columns(2, 6);
      @include nth-omega(3n);
    }
    @include only-grid-9 {
      @include span-columns(3, 9);
      @include nth-omega(3n);
    }
    @include from-grid-12 {
      @include span-columns(3, 12);
      @include nth-omega(4n);
    }
    .bleed {
      display: block;
      @include bleed(0);
      border: none!important;
      padding-bottom: 25px;
      padding-top: 1px;
      .cosy-menu & {
        padding-bottom: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}


/*
* Grid for pages
*/

.grid-pages {
  .grid-teaser {
    @include only-grid-6 {
      @include span-columns(6);
      @include nth-omega(1n);
    }
    @include only-grid-9 {
      @include span-columns(3, 9);
      @include nth-omega(3n);
    }
    @include from-grid-12 {
      @include span-columns(4, 12);
      @include nth-omega(3n);
    }
  }
  .medium-title {
    &:after {
      display: inline-block;
      content: "\203A";
      padding-left: 10px;
    }
  }
}

.front .block-system.main {
  display: none;
}


/* =============================================================================
   Social Icons
   ========================================================================== */

.social-icons {
  @include inline-block-list(10px);
}


/* =============================================================================
   Footer
   ========================================================================== */

.footer {
  max-width: 1030px;
  min-width: 320px;
  margin: 30px auto;
  .footer-inner {
    border-top: 1px solid #e2e2e2;
    font-style: italic;
    @include adjust-font-size-to(16px, 4);
    line-height: 1.6em;
    overflow: hidden;
    @include at-breakpoint(4) {
      padding: 20px;
    }
    @include at-breakpoint(6) {
      padding: 30px 25px;
    }
    .social-icons {
      margin-left: auto;
      a {
        display: block;
        text-indent: -9999px;
      }
    }
    .footer-col {
      display: flex!important;
      width: 100%;
      @include only-grid-6 {
        @include span-columns(3);
        @include nth-omega(2n);
      }
      @include only-grid-9 {
        @include span-columns(3, 9);
        @include nth-omega(3n);
      }
      @include from-grid-12 {
        @include span-columns(4, 12);
        @include nth-omega(3n);
      }
      &.-social {
         @include only-grid-6 {
            width: 100%;
         }
      }
    }
  }
}


/* =============================================================================
   Content page banners
   ========================================================================== */

.page-hero {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  @include at-breakpoint(4) {
    height: 240px;
  }
  @include at-breakpoint(6) {
    height: 340px;
  }
}


/* =============================================================================
   Search form
   ========================================================================== */

body.page-search .block-system.main {
  padding-top: 0;
}

body.page-search form.search-form+h2 {
  display: none;
}

.hero .block-search {
  background: #fff;
  margin: 0 0 60px;
  overflow: hidden;
  .container {
    max-width: 1021px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 20px 10px;
    @include at-breakpoint(6) {
      padding: 30px 30px 20px;
    }
    @include at-breakpoint(9) {
      padding: 30px 30px 40px;
    }
    @include at-breakpoint(12) {
      padding: 30px 20px 40px;
    }
  }
  label {
    @include adjust-font-size-to(18px, 5);
    padding-bottom: 10px;
    display: block;
    font-style: italic;
  }
  .form-item-search-block-form {
    width: 55%;
    float: left;
    @include at-breakpoint(6) {
      width: 66%;
    }
    @include at-breakpoint(9) {
      width: 80%;
    }
    @include at-breakpoint(12) {
      width: 89.3%;
    }
  }
  /*h2.search-label {
		color: $gold;
		text-transform: none;
		letter-spacing: 0;
		font-style: italic;
		font-family: $bodyFont;
		text-align: left;
		font-weight: normal;
		@include adjust-font-size-to(18px, 5);
	}*/
  .form-text {
    width: 100%;
    background: #f5f5f5;
    display: block;
    margin-bottom: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    height: 55px;
  }
  .form-submit {
    height: 55px !important;
    color: $gold;
    float: left;
    @include adjust-font-size-to(18px, 5);
    background: $black;
    @include at-breakpoint(9) {}
  }
}

.ds-search-extra {
  @include adjust-font-size-to(18px, 5);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

// Search results
.view-mode-search_result {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 30px;
  &:last-child {
    border: none;
  }
  h2 {
    color: $gold;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    font-family: $bodyFont;
    text-align: left;
    font-weight: normal;
    @include adjust-font-size-to(20px, 5);
    span {
      @include adjust-font-size-to(20px, 5);
      line-height: inherit;
      display: inline;
    }
  }
}

body.page-search-products {
  .ds-search-highlight {
    background-color: #ece9e2;
  }
  article {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      @include adjust-font-size-to(18px, 5);
    }
  }
  .group-left {
    width: 100px;
    margin-right: 20px;
    @include from-grid-6 {
      width: 150px;
      margin-right: 30px;
    }
    img {
      height: 100px;
      width: 100px;
      display: none;
      margin: 0;
      &:first-child {
        display: block;
      }
      @include from-grid-6 {
        height: 150px;
        width: 150px;
      }
    }
  }
  .group-right {
    width: auto;
    max-width: 180px;
    @include from-grid-6 {
      max-width: 240px;
    }
    @include from-grid-9 {
      max-width: 400px;
    }
    @include from-grid-12 {
      max-width: 800px;
    }
  }
}

// Fixes the '1 featured product missing on the first row of the slider' bug on iPhone.
.products-by-featured-block-1 {
  .grid-with-lines.clearfix {
    &:before {
      display: inline;
      content: none;
    }
  }
}


.small-only {
  display: table;
  @include from-grid-12 {
    display: none;
  }
}
.large-only {
  display: none;
  @include from-grid-12 {
    display: table;
  }
}

.st-val {
  text-align: right;
}