/* =============================================================================
   Project
   ========================================================================== */
$legacy-support-for-ie: true;
$legacy-support-for-ie6 : true;
$legacy-support-for-ie7 : true;
$legacy-support-for-ie8 : true;

$support-for-ie: true;
$support-for-ie6 : true;
$support-for-ie7 : true;
$support-for-ie8 : true;

$breakpoint-media-output: false;
$breakpoint-ie-output: true;
$breakpoint-raw-output: true;

/* =============================================================================
   SASS Imports
   ========================================================================== */

//Vertical Rhythm
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";


@import "mixins/breakpoints";

//Susy
@import "susy";
//CSS Template - HTML5 Boilerplate
@import "reset/boilerplate";
//Core Variables
@import "base";  
//CSS Reset - Normalize
@import "reset/normalize";
//Formalize
@import "reset/formalize";
//General CSS
@import "ie";
//SVG
@import "svg/svg";
//Flexbox
@import "flexbox/flexbox";

/* =============================================================================
   Global
   ========================================================================== */

@include establish-baseline;

* {
   box-sizing:border-box;
}
//Remove default padding/margins to allow for vertical rhythm
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
   margin:0; 
   padding:0; 
}
html,
body {
   margin:0;
   padding:0;
}

body {
   background-color:$backgroundColor;
   box-sizing:content-box;
   color:$baseFontColor;
   font-family:$bodyFont;
   @include adjust-font-size-to($base-font-size);
   -webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}


/* =============================================================================
   Layout
   ========================================================================== */

@import "layout"; 


/* =============================================================================
   Typography
   ========================================================================== */

@import "typography"; 


/* =============================================================================
   Links
   ========================================================================== */

@import "base/links";


/* =============================================================================
   Lists
   ========================================================================== */

@import "base/lists";   


/* =============================================================================
   Forms
   ========================================================================== */

@import "base/forms";   


/* =============================================================================
   Print
   ========================================================================== */
   
@import "print";