
{{#hasMixin}}@mixin {{mixinName}} {
	background: url({{{sprite}}}) no-repeat;
}

{{#hasCommon}}.{{commonName}} {
	@include {{mixinName}};
}

{{/hasCommon}}{{/hasMixin}}

{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}} {
	background: url({{{sprite}}}) no-repeat;
	
	.no-svg & {
		background-image: url({{#sprite}}{{#png}}{{{sprite}}}{{/png}}{{/sprite}});
	}
}

{{/hasMixin}}{{#shapes}}{{#selector.shape}}.svg-{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}{{#hasMixin}}@include {{mixinName}};{{/hasMixin}}{{^hasMixin}}@extend %{{commonName}};{{/hasMixin}}
	{{/hasCommon}}
	background-position: {{#correctPosition}} {{position.absolute.x}} {{/correctPosition}} {{#correctPosition}}{{position.absolute.y}}{{/correctPosition}};
	{{#dimensions.inline}}
	width: {{width.inner}}px;
	height: {{height.inner}}px;{{/dimensions.inline}}
}{{#dimensions.extra}}

{{#selector.dimensions}}.svg-{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}} {
	width: {{width.inner}}px;
	height: {{height.inner}}px;
}{{/dimensions.extra}}

{{#selector.shape}}@mixin svg-{{expression}}($toWidth){{/selector.shape}} {
	$newHeight: {{height.inner}} / {{width.inner}} * $toWidth;
	background-image: url(../../images/svg/{{#selector.shape}}{{expression}}{{/selector.shape}}.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: {{#correctPosition}} {{position.absolute.x}} {{/correctPosition}} {{#correctPosition}}{{position.absolute.y}}{{/correctPosition}};
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

{{/shapes}}

