

%svg-common {
	background: url(../../images/sprite.svg) no-repeat;
	
	.no-svg & {
		background-image: url(../../images/sprite.png);
	}
}

.svg-account {
	@extend %svg-common;
	background-position: -1770.6999999999998px -1444.4px;

}

.svg-account-dims {
	width: 13px;
	height: 15px;
}

@mixin svg-account($toWidth) {
	$newHeight: 15 / 13 * $toWidth;
	background-image: url(../../images/svg/account.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1770.6999999999998px -1444.4px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: -1904.1999999999998px -1379.5px;

}

.svg-arrow-down-dims {
	width: 8px;
	height: 4px;
}

@mixin svg-arrow-down($toWidth) {
	$newHeight: 4 / 8 * $toWidth;
	background-image: url(../../images/svg/arrow-down.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1904.1999999999998px -1379.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-furniture {
	@extend %svg-common;
	background-position: -3px -1496.3px;

}

.svg-cat-furniture-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-furniture($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-furniture.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -3px -1496.3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-furniture-w {
	@extend %svg-common;
	background-position: -1704.6999999999998px -3px;

}

.svg-cat-furniture-w-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-furniture-w($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-furniture-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-kitchen {
	@extend %svg-common;
	background-position: -1704.6999999999998px -219px;

}

.svg-cat-kitchen-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-kitchen($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-kitchen.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -219px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-kitchen-w {
	@extend %svg-common;
	background-position: -1704.6999999999998px -651px;

}

.svg-cat-kitchen-w-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-kitchen-w($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-kitchen-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -651px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-lifestyle {
	@extend %svg-common;
	background-position: -1080.3px -895px;

}

.svg-cat-lifestyle-dims {
	width: 214px;
	height: 214px;
}

@mixin svg-cat-lifestyle($toWidth) {
	$newHeight: 214 / 214 * $toWidth;
	background-image: url(../../images/svg/cat-lifestyle.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1080.3px -895px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-lifestyle-w {
	@extend %svg-common;
	background-position: -824.3px -1121px;

}

.svg-cat-lifestyle-w-dims {
	width: 214px;
	height: 214px;
}

@mixin svg-cat-lifestyle-w($toWidth) {
	$newHeight: 214 / 214 * $toWidth;
	background-image: url(../../images/svg/cat-lifestyle-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -824.3px -1121px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-lifestyle_2 {
	@extend %svg-common;
	background-position: -604.3px -1121px;

}

.svg-cat-lifestyle_2-dims {
	width: 214px;
	height: 214px;
}

@mixin svg-cat-lifestyle_2($toWidth) {
	$newHeight: 214 / 214 * $toWidth;
	background-image: url(../../images/svg/cat-lifestyle_2.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -604.3px -1121px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-new-things {
	@extend %svg-common;
	background-position: -1704.6999999999998px -435px;

}

.svg-cat-new-things-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-new-things($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-new-things.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -435px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-new-things-w {
	@extend %svg-common;
	background-position: -1300.3px -895px;

}

.svg-cat-new-things-w-dims {
	width: 214px;
	height: 214px;
}

@mixin svg-cat-new-things-w($toWidth) {
	$newHeight: 214 / 214 * $toWidth;
	background-image: url(../../images/svg/cat-new-things-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1300.3px -895px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-print {
	@extend %svg-common;
	background-position: -1704.6999999999998px -1083px;

}

.svg-cat-print-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-print($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-print.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -1083px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-print-w {
	@extend %svg-common;
	background-position: -219px -1496.3px;

}

.svg-cat-print-w-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-print-w($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-print-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -219px -1496.3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-textile {
	@extend %svg-common;
	background-position: -1044.3px -1121px;

}

.svg-cat-textile-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-textile($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-textile.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1044.3px -1121px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cat-textile-w {
	@extend %svg-common;
	background-position: -1260.3px -1121px;

}

.svg-cat-textile-w-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-cat-textile-w($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/cat-textile-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1260.3px -1121px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-close {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1423.5px;

}

.svg-close-dims {
	width: 14.100000000000001px;
	height: 14.399999999999999px;
}

@mixin svg-close($toWidth) {
	$newHeight: 14.399999999999999 / 14.100000000000001 * $toWidth;
	background-image: url(../../images/svg/close.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1423.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cosy {
	@extend %svg-common;
	background-position: -604.3px -850.9px;

}

.svg-cosy-dims {
	width: 585.1px;
	height: 37.3px;
}

@mixin svg-cosy($toWidth) {
	$newHeight: 37.3 / 585.1 * $toWidth;
	background-image: url(../../images/svg/cosy.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -604.3px -850.9px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cosy-brown {
	@extend %svg-common;
	background-position: -3px -850.9px;

}

.svg-cosy-brown-dims {
	width: 595.3px;
	height: 38.1px;
}

@mixin svg-cosy-brown($toWidth) {
	$newHeight: 38.1 / 595.3 * $toWidth;
	background-image: url(../../images/svg/cosy-brown.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -3px -850.9px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-cosy-square-logo {
	@extend %svg-common;
	background-position: -604.3px -895px;

}

.svg-cosy-square-logo-dims {
	width: 250px;
	height: 220px;
}

@mixin svg-cosy-square-logo($toWidth) {
	$newHeight: 220 / 250 * $toWidth;
	background-image: url(../../images/svg/cosy-square-logo.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -604.3px -895px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-email {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1337.5px;

}

.svg-email-dims {
	width: 19.5px;
	height: 14px;
}

@mixin svg-email($toWidth) {
	$newHeight: 14 / 19.5 * $toWidth;
	background-image: url(../../images/svg/email.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1337.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: -1904.1999999999998px -1357.5px;

}

.svg-facebook-dims {
	width: 8px;
	height: 16px;
}

@mixin svg-facebook($toWidth) {
	$newHeight: 16 / 8 * $toWidth;
	background-image: url(../../images/svg/facebook.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1904.1999999999998px -1357.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-facebook-b {
	@extend %svg-common;
	background-position: -429.9px -3px;

}

.svg-facebook-b-dims {
	width: 420.9px;
	height: 841.9px;
}

@mixin svg-facebook-b($toWidth) {
	$newHeight: 841.9 / 420.9 * $toWidth;
	background-image: url(../../images/svg/facebook-b.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -429.9px -3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-facebook-w {
	@extend %svg-common;
	background-position: -3px -3px;

}

.svg-facebook-w-dims {
	width: 420.9px;
	height: 841.9px;
}

@mixin svg-facebook-w($toWidth) {
	$newHeight: 841.9 / 420.9 * $toWidth;
	background-image: url(../../images/svg/facebook-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -3px -3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-hamburger {
	@extend %svg-common;
	background-position: -1704.6999999999998px -1444.4px;

}

.svg-hamburger-dims {
	width: 40px;
	height: 29px;
}

@mixin svg-hamburger($toWidth) {
	$newHeight: 29 / 40 * $toWidth;
	background-image: url(../../images/svg/hamburger.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -1444.4px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-icon-basket {
	@extend %svg-common;
	background-position: -1476.3px -1121px;

}

.svg-icon-basket-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-icon-basket($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/icon-basket.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1476.3px -1121px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-icon-user {
	@extend %svg-common;
	background-position: -1704.6999999999998px -867px;

}

.svg-icon-user-dims {
	width: 210px;
	height: 210px;
}

@mixin svg-icon-user($toWidth) {
	$newHeight: 210 / 210 * $toWidth;
	background-image: url(../../images/svg/icon-user.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -867px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-instagram-b {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1401.5px;

}

.svg-instagram-b-dims {
	width: 16px;
	height: 16px;
}

@mixin svg-instagram-b($toWidth) {
	$newHeight: 16 / 16 * $toWidth;
	background-image: url(../../images/svg/instagram-b.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1401.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-instagram-w {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1357.5px;

}

.svg-instagram-w-dims {
	width: 16px;
	height: 16px;
}

@mixin svg-instagram-w($toWidth) {
	$newHeight: 16 / 16 * $toWidth;
	background-image: url(../../images/svg/instagram-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1357.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-menu-close {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1299px;

}

.svg-menu-close-dims {
	width: 31.799999999999997px;
	height: 32.5px;
}

@mixin svg-menu-close($toWidth) {
	$newHeight: 32.5 / 31.799999999999997 * $toWidth;
	background-image: url(../../images/svg/menu-close.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1299px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: -1882.1999999999998px -1379.5px;

}

.svg-pinterest-dims {
	width: 16px;
	height: 16px;
}

@mixin svg-pinterest($toWidth) {
	$newHeight: 16 / 16 * $toWidth;
	background-image: url(../../images/svg/pinterest.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1882.1999999999998px -1379.5px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-pinterest-b {
	@extend %svg-common;
	background-position: -856.8px -3px;

}

.svg-pinterest-b-dims {
	width: 841.9px;
	height: 841.7px;
}

@mixin svg-pinterest-b($toWidth) {
	$newHeight: 841.7 / 841.9 * $toWidth;
	background-image: url(../../images/svg/pinterest-b.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -856.8px -3px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-pinterest-w {
	@extend %svg-common;
	background-position: -3px -895px;

}

.svg-pinterest-w-dims {
	width: 595.3px;
	height: 595.3px;
}

@mixin svg-pinterest-w($toWidth) {
	$newHeight: 595.3 / 595.3 * $toWidth;
	background-image: url(../../images/svg/pinterest-w.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -3px -895px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-search {
	@extend %svg-common;
	background-position: -1750.6999999999998px -1444.4px;

}

.svg-search-dims {
	width: 14px;
	height: 15px;
}

@mixin svg-search($toWidth) {
	$newHeight: 15 / 14 * $toWidth;
	background-image: url(../../images/svg/search.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1750.6999999999998px -1444.4px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-search-icon {
	@extend %svg-common;
	background-position: -860.3px -895px;

}

.svg-search-icon-dims {
	width: 214px;
	height: 214px;
}

@mixin svg-search-icon($toWidth) {
	$newHeight: 214 / 214 * $toWidth;
	background-image: url(../../images/svg/search-icon.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -860.3px -895px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: -1704.6999999999998px -1299px;

}

.svg-twitter-dims {
	width: 171.5px;
	height: 139.4px;
}

@mixin svg-twitter($toWidth) {
	$newHeight: 139.4 / 171.5 * $toWidth;
	background-image: url(../../images/svg/twitter.svg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	//background-position: -1704.6999999999998px -1299px;
	width: #{$toWidth}px;
	height: #{$newHeight}px;
}


