$browser-default-font-size: 12px; //!Dont change.


/* =============================================================================
   SASS Imports
   ========================================================================== */
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}
@function rem($px) {
    @return ($px / $browser-default-font-size) * 1rem;
}

@mixin rem($property, $px, $px1: false, $px2: false, $px3: false) {
  @if($px1) {
    #{$property}:$px $px1 $px2 $px3;
    //#{$property}:rem($px) rem($px1) rem($px2) rem($px3);
  } @else {
    #{$property}:$px;
    //#{$property}:rem($px);
  }
}

// ==========================================================================
// Browser Ranges
// ==========================================================================

$current-prefix: null;
$current-browser-versions: ();
@mixin with-browser-ranges($capability, $prefix: $current-prefix) {
  $new-ranges: null;
  @if type-of($capability) == map {
    $new-ranges: $capability;
  }
  @else {
    $new-ranges: browser-ranges($capability, $prefix);
  }
  @if has-browser-subset($current-browser-versions, $new-ranges) {
    $old-ranges: $current-browser-versions;
    $current-browser-versions: intersect-browser-ranges($old-ranges, $new-ranges) !global;
    @content;
    $current-browser-versions: $old-ranges !global;
  }
  @else if $debug-browser-support {
    /* Excluding content because #{inspect($new-ranges)} is not included within
       #{inspect($current-browser-versions)} */
  }
}

$critical-usage-threshold: '';
@mixin for-legacy-browser($browser, $min-version, $max-version: $min-version, $threshold: $critical-usage-threshold, $ranges: ($browser: $min-version $max-version)) {
    @content;
}


// ==========================================================================
// Hide text
// ==========================================================================

@mixin hide-text($direction) {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}


//Vertical Rhythm
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "susy/susyone";


@import "breakpoint";

@import "mixins/breakpoints";
@import "mixins/mixins";


//Core Variables
@import "base";  

//CSS Template - HTML5 Boilerplate
@import "reset/boilerplate";
//CSS Reset - Normalize
@import "reset/normalize";
//Formalize
//@import "reset/formalize";
//General CSS
@import "ie";

//SVG
@import "svg-sprite";
@import "svg/svg";


//Animate
@import "animate/animate";


/* =============================================================================
   Global
   ========================================================================== */

@include establish-baseline;

* {
   box-sizing:border-box;
}
//Remove default padding/margins to allow for vertical rhythm
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
   margin:0; 
   padding:0; 
}
html,
body {
   margin:0;
   padding:0;
}

body {
   background-color:$backgroundColor;
   box-sizing:content-box;
	color:$baseFontColor;
	font-family:$bodyFont;
   @include adjust-font-size-to($base-font-size);
	-webkit-font-smoothing:antialiased;
   -moz-osx-font-smoothing:grayscale;
}


/* =============================================================================
   Media Queries to fire JS triggers.
   ========================================================================== */
body:after {
  display: none;
}

html {
    font-family: "grid-4";
}
body:after {
    content: "grid-4";
}

@include only-grid-6 {
  html {
      font-family: "grid-6";
  }
  body:after {
      content: "grid-6";
  }
}

@include only-grid-9 {
  html {
      font-family: "grid-9";
  }
  body:after {
      content: "grid-9";
  }
}

@include from-grid-12 {
  html {
      font-family: "grid-12";
  }
  body:after {
      content: "grid-12";
  }
}

/* =============================================================================
   Animated defauls
   ========================================================================== */
body {
   -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
   @include animate-prefixer(animation-duration, $base-duration);
   @include animate-prefixer(animation-fill-mode, both);

   &.hinge {
      @include animate-prefixer(animation-duration, $base-duration * 2);
   }
}

.animated-slow {
   @include animate-prefixer(animation-duration, 1s);
   @include animate-prefixer(animation-fill-mode, both);

   &.hinge {
      @include animate-prefixer(animation-duration, $base-duration * 2);
   }
}

.alignment {
  display: table;
  width:100%;
  height:100%;
}
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
    min-height:100%;
  }

/* =============================================================================
   Layout
   ========================================================================== */
@import "layout"; 


/* =============================================================================
   Typography
   ========================================================================== */
@import "heading-typography"; 


/* =============================================================================
   Links
   ========================================================================== */
@import "base/links";


/* =============================================================================
   Lists
   ========================================================================== */
@import "base/lists";   


/* =============================================================================
   Forms
   ========================================================================== */
@import "base/forms";   

/* =============================================================================
   Icons
   ========================================================================== */
@import "icons";   

/* =============================================================================
   Responsive
   ========================================================================== */
@import "responsive"; 

/* =============================================================================
   Objects
   ========================================================================== */
@import "objects/header_bar"; 
@import "objects/charm_bar";
@import "objects/product_full"; 
@import "objects/product_teaser"; 
@import "objects/page_teaser"; 
@import "objects/collection";
@import "objects/category_grid"; 
@import "objects/menu_overlay"; 
@import "objects/table"; 
@import "objects/cart"; 
@import "objects/messages"; 
@import "objects/lang-switcher";
@import "objects/share";

/* =============================================================================
   Design
   ========================================================================== */

@import "design";   
@import "design/titles";  
@import "design/checkout"; 
@import "design/account"; 

/* =============================================================================
   States
   ========================================================================== */
@import "states/product_page"; 


@import "vendor/owl.carousel"; 
@import "vendor/owl.theme.default";
@import "vendor/tingle";

/* =============================================================================
   Print
   ========================================================================== */
   
@import "print";

