
@mixin background-svg($file, $width, $offsetx: 0, $offsety: 0, $dimensions: true, $svg:true, $png:false) {
    @include svg-embed($width, $file);
}

@mixin background-svg-fluid($file, $width, $offsetx: 0, $offsety: 0, $dimensions: false, $svg:true, $png:false) {
    @include svg-embed($width, $file);
}

/*
* Embed an SVG inline and set content to the SVG file name.
*/
@mixin svg-embed($width, $file) {
    @extend .svg-#{$file};
    @extend .svg-#{$file}-dims;
    background-image: url(../../images/sprite.svg);
    background-repeat: no-repeat;
}

@mixin use-sprite-direct($file) {
    $pngPath : "1x/#{$file}.png";
    background-image: image_url($pngPath);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

@mixin png-use-sprite($file) {
    $pngPath : "png/#{$file}.png";
    background-image: image_url($pngPath);
    background-repeat: no-repeat;
    background-size:100% 100%;
}