.node-type-product {
	.section-title {
		margin-bottom: 20px;
	}
}

.product-view {
	@include from-grid-9() {
		display: flex;
	}
	margin-bottom:80px;
}
	.product-view__left,
	.product-view__right {
		float:left;
	}
	.product-view__left {
		width:100%;
		@include grid-9-to-12() {
			width:50%;
		}
	}

	.product-view__right {
			width:100%;
			@include grid-9-to-12() {
				width:50%;
				border-left: 1px solid $lightGrey;
			}
	}
		.product-view__options,
		.product-view__body {
			@include grid-9-to-12() {
				@include cosy_padding();
				@include cosy_bleed_right();
				border-bottom:1px solid $lightGrey;
			}
		}
		.product-view__body {
			@include adjust-font-size-to(18px, 5);
		}
		.product-view__main-image {
			@include grid-9-to-12() {
				border-bottom:1px solid $lightGrey;
				@include cosy_padding();
				@include cosy_bleed_left();
			}
			@include grid-4-to-6() {
				margin-bottom:20px;
			}
			img {
				width:100%;
				height:auto;
			}
		}
		.product-view__main-thumbnails {
			@include grid-4-to-6() {
				display: none;
			}
			display: block;
			padding:25px 25px 0 0;
			.wrapper {
				margin:0 -7px;
			}
		}

		.product-view__thumbnail {
			display:inline-block;
			width:33.3%;
			height:0;
			padding-top:33.3%;
			overflow: hidden;
			position: relative;
			
			a {

				img {
					width:100%;
					height:auto;
					opacity: 1;
					padding:0 7px;
					position: absolute;
					top:-10%;
					transition: all 0.2s linear;
				}
				
				&:hover img {
					opacity: 0.6;
				}
			}
				
		}
		
		.product-full__price {
			@include adjust-font-size-to(26px, 3);
			font-family: $headingFont;
			color:$altFontColor;
			margin:0 0 $cosyPadding 0;
		}
		.product-view__options {
			.form-type-select {
				label {
					display: none;
				}
			}
		}

		.product-view__share {
			@include grid-4-to-6() {
				padding:25px 0;
			}
			@include grid-9-to-12() {
				padding:25px;
			}
			.social-icons {
				margin-left:-10px;
				padding:25px 0 0 0;
				> span {
					margin:0 5px;
				}
			}
		}


		