.view-commerce-cart-form .views-field-title,
.view-commerce-cart-form .views-field-line-item-title {
	font-family:$headingFont;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 10px;
	vertical-align: middle;
	
	@include only-grid-4() {
		font-size: 0.8em;
		line-height: 1.4em;
	}
	
}
	input.form-submit {
		padding: 15px 30px;
		color:white;
		background:$altBackground;

		&:hover {
			color: $gold;
			background: black;
		}
	}

	.line-item-summary {
		border-top:1px solid $lightGrey;
		padding-top:rhythm(5);
		margin-bottom:rhythm(5);
		font-family:$headingFont;
	}

	.commerce-line-item-actions {
		#edit-submit {
			margin-right: 0;
			margin-bottom: 20px;
			@include from-grid-9() {
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
		#edit-checkout {
			background:$black;
			color:$gold;
			border-radius: 0px;
		}
	}

	.line-item-total {
		color:$gold;
	}

	.commerce-line-item-views-form {
		.views-row-first, .odd, .even {
			border-bottom:1px solid $lightGrey;
		}
		.views-row-last {
			border-bottom:0px solid $lightGrey;
		}
	}

td.views-field-commerce-unit-price,
td.views-field-edit-delete,
th.views-field-edit-delete,
td.views-field-edit-quantity {
	padding-right: 10px;
}

th.views-field-edit-delete {
	@include only-grid-4() {
		width: 30px;
		font-size: 0px;
		text-indent: -9999px;
	}
}
.commerce-line-item-views-form input.delete-line-item {
	@include svg-close(16);
	background-color: transparent;
	margin: 0 auto;
	text-indent: -9999px;
}

.basket-helper {
	display: none;
	@include from-grid-9() {
		display: inline-block;
	}
}

td.views-field-line-item-title,
td.views-field-commerce-unit-price,
td.views-field-commerce-total,
td.views-field-edit-delete,
td.views-field.views-field-edit-quantity {
	vertical-align: middle;
	
	@include only-grid-4() {
		vertical-align: top;
	}
}
td.views-field-line-item-title img {
	display: inline-block;
	margin-right: 20px;
}
tr.views-row-last {
	border-bottom: 0 !important;
}
#commerce-cart-block-block-1 {
		background: $white;
		border-bottom: 1px solid #dcd8ce;
		border-left: 1px solid #dcd8ce;
		padding: 20px 0 30px;
    position: fixed;
    font-style: italic;
    right: 0;
    top: 60px;
    z-index: 10;
    display: none;
    
    @include from-grid-6() {
    	top: 80px;
    }
    
    h2 {
	    display: none;
    }
    
    .cart-empty-block {
	    padding: 10px 30px 0;
    }
    
    td.views-field-line-item-title {
	    font-family: $bodyFont;
	    font-style: italic;
	    font-weight: normal;
	    text-transform: none;
    }
    
    tbody tr:nth-child(even) {
	    background: #f5f5f5;
    }
    
	tbody td {
		vertical-align: middle;
		padding: 10px;
	
		&.views-field-commerce-total {
			padding-right: 30px;
		}
		&.views-field-quantity {
			padding-left: 30px;
		}
	
	}
	
	.line-item-summary {
		border: none;
		margin: 0;
		padding: 0;
	
		.links {
			margin: 30px 0 0;
			padding: 0;
		}
		
		li {
			list-style: none;
		}
		
		a {
			@include button-style();	
		  margin-right: 30px;
		}
		
	}
    
}
.basket-teaser {
	transition: background 0.3s;
	outline: none;
	&.active {
		background: $white;
	}
}

.cart-empty-block {
	@include adjust-font-size-to(18px, 3);
	font-style: italic;
}
.views-field-edit-quantity {
	.form-type-textfield {
		input {
			background: #ebebeb;
			text-align: center;
		}
	}
}

.field-name-commerce-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount {
  background-color: transparent;
  font-weight: bold;
}