.cosy-menu,
.cosy-categories {
	.title {
		@include grid-4-to-6() {
			@include adjust-font-size-to(18px, 3);
			font-family: $bodyFont;
			font-style: italic;
			text-transform: capitalize;
			letter-spacing:	normal;
			font-weight: normal;
			margin:10px 0;
		}
		span {
			@include grid-4-to-6() {
				display:none;
			}
		}
	}

	.image {
		@include grid-4-to-6() {
			height:0px;
			width:100%;
			padding-top:100%;
		}
	}
}

.cosy-categories {
	.image {
		background-color: white;
	}
}