.static-block-two {
	position:relative;
	z-index:100;
}
.charms-left {
	> .slice,
	> a {
		float:left;
	}
}
.charms-right {
	height:50px;
	@include from-grid-6() {
		height:80px;
	}
}
.basket-teaser {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	display: inline-block;
	float:right;
	padding:0 30px;
	font-style:italic;
	@include from-grid-6() {
		line-height: 80px;
		height: 80px;
	}
}
	.basket-helper {
display: inline;
		@include from-grid-12() {
			
		}
	}


.lang_dropdown_form {
	display: inline-block;
	height: 80px;
}

