.collection {
	.image {
		width:100%;
		.cosy-menu & {
			@include only-grid-6 {
				margin-top: -5px;
			}
			@include from-grid-9 {
				margin-top: 0;
				height: 190px;
			}
		}
	}
	a {
		&:hover {
			.image {
				@include transition-property(background);
				@include transition-duration(0.5s);
				background-color: black;
			}
			.cosy-menu & {
				.image {
					opacity: 0.8;
					background-color: transparent;
					@include transition-property(opacity);
					@include transition-duration(0.5s);
				}
			}
		}
	}
}