/* =============================================================================
   Header bar
   ========================================================================== */
.header {
	background:$baseColor;
}
.logo-container {
	padding:25px 0;
	text-align:center;
}

.logo {
	@include svg-cosy(250);
	@include hide-text(left);
	width:250px;
	position:relative;
	z-index:101;
	display: none;
	@include from-grid-12() {
		display: inline-block;
	}
	a {
		display: block;
	}
	.front & {
		display: none;
	}
}

.square-logo {

	@include svg-cosy-square-logo(125);
	@include hide-text(left);
	display:inline-block;
	padding: 0;

	@include from-grid-6() {
		@include svg-cosy-square-logo(200);
		@include hide-text(left);
		display:inline-block;
		padding: 0;
	}

}
	.hero-info-line {
		@include adjust-font-size-to(16px);

		@include from-grid-6() {
			@include adjust-font-size-to(21px);
			margin:rhythm(5) 0 0 0;
		}
		display: inline-block;
		a {
			color: $baseFontColor;
		}

	} 

.home-hero {
	background: url('../../images/raster/cosy-bg.gif') top left;
	text-align: center;
	@include only-grid-4() {
		height:260px;
	}
	@include from-grid-6() {
		height:450px;
	}

	@include from-grid-9() {
		height:540px;
	}
	@include from-grid-12() {
		position: fixed;
		width: 100%;
		z-index: 1;
	}
	.container {
		min-height: 100%;
		height: 260px;
		@include from-grid-6() {
			height: 450px;
		}

	}
}
body.front {

	.main {
		@include from-grid-12() {
			padding-bottom: 500px; // So you can see the footer
		}	
	}
	
	.region-content {
		@include from-grid-12() {
			background: $white;
			top: 540px;
			position: relative;
			z-index: 2;
			-webkit-transform: translate3d(0,0,0); // Bug fix for safari - when sliding home content over home hero
		}	
	}
	
	footer {
		@include from-grid-12() {
			background: $white;
			margin-bottom: 0 !important;
			position: relative;
			z-index: 2;
			-webkit-transform: translate3d(0,0,0); // Bug fix for safari - when sliding home content over home hero
		}	
	}
	
}