$switcherHeight: 80px;
$switcherLineHeight: 2em;
$switcherSidePadding: 30px;

.block-locale.language {
	display: inline-block;
	@include from-grid-6() {

	}
	h2 {
		display: none;
	}
}

	.language-switcher-locale-url {
		display: none;
		@include inline-block-list(10px);
		li {
			margin: 0;
		}
		a {
			display: block;
			height:$switcherHeight;
			line-height: $switcherHeight;
		}
	}


/* Style it for the JS implementaion */
.wrapper-dropdown {
	outline: none;
	position: absolute;
	@include adjust-font-size-to(18px);
	font-style: italic;
	.select-language {
		height: 60px;
		line-height: 60px;
		@include from-grid-6() {
			height:80px;
			line-height: $switcherHeight;
			padding:0 $switcherSidePadding;
		}
		padding:0 10px;
		color: $altFontColor;
		display: block;
		cursor: pointer;
		padding-top:2px;
		float: left;
		
		&:after {
			@include svg-arrow-down(8);
			@include pseudo-block(8px, 8px);
			
			right:auto;
			left:auto;
			top:auto;
			position: relative;
			float:right;
			margin-left:10px;
			margin-top: 26px;
			
			@include from-grid-6() {
				margin-top: 36px;
			}
			
			
		}
		
		&.active {
			background-color: $white;
			border-right: 1px solid $keyline;
		}
		
	}
	.language-switcher-locale-url {
		border:1px solid $keyline;
		background: $white;
		border-top:none;
		position: relative;
		clear: both;
		min-width: 140px;
		left:-1px; // Align left -1px to keep the left keyline alignment.
		li {
			display:block;
			padding:0;
			@include adjust-font-size-to(22px);
			
			&:nth-child(odd) {
				background: #f5f5f5;
			}
			
		}
		a {
			height:$switcherLineHeight;
			line-height: $switcherLineHeight;
			padding:0 $switcherSidePadding;
		}
	}
}
