.cosy-menu {
	@extend .animated;
	height: 100%;
	background:$altBackground;
	padding:50px 0;
	display:none;
	position:fixed;
	top:60px;
	
	// Various heights so the menu icons and footer links in the gold overlay don't crash.
	
	@include from-grid-6() {
		top:80px;
		height: 100vh;
		height: calc(100vh - 80px);
	}
	
	@media (min-width: 487px) and (max-height: 760px) {
		height: calc(120vh - 80px);
	}
	
	@media (min-width: 487px) and (max-height: 630px) {
		height: calc(150vh - 80px);
	}
	
	@media (min-width: 487px) and (max-height: 530px) {
		height: calc(130vh - 80px);
	}
	
	@media (min-width: 487px) and (max-height: 375px) {
		height: calc(140vh - 80px);
	}
	
	@media (min-width: 487px) and (max-height: 320px) {
		height: calc(160vh - 80px);
	}
	
	left:0;
	right:0;
	bottom:0;

	z-index:100;

	.cosy-overlay {
		.container {
			border-top:0px solid #bfb7a1;
			
			@include from-grid-6() {
				border-top-width: 1px;
			}
			
			.grid-teaser {
			
				@include only-grid-4() {
					width: 50%;
					margin-right: 0;
				}
			}
			
		}
	}

	.title,
	h2 {
		color:white;
	}
	
	h2 {
		display: block;
		margin-bottom: 0;
		
		@include from-grid-6() {
			margin-bottom: inherit;
		}
	
	}

	.title {
		margin-top:-1em;
		margin-bottom: 0;
    white-space: nowrap;
	}

	body.menu-open & {

	}
	body.menu-opening & {
		display: block;
		@extend .fadeIn;
	}
	body.menu-closing & {
		display: block;
		@extend .fadeOut;
	}
}

.block-menu  {
	margin-top: 4em;
	width: 100%;
	bottom: 60px; 
	left: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;

	@include from-grid-6() {
		text-align: center;
		bottom: 20px;
		padding: 0;
		position: absolute;
			
	}
	.menu {
		@include inline-block-list();
		li {
			padding: 4px 0 17px;
			border-bottom: 1px solid rgba(255,255,255,0.2);
			display: block;
			
			@include from-grid-6() {
			height: 16px;
			padding: 0 0.5em;
			border-bottom: 0px;
			display: inline-block;
			border-right: 1px solid white;
			}
			
		}
		li:last-child {
			padding-right: 0;
			border-right: none;
		}
		a {
			color: white;
			@include adjust-font-size-to(16px);
			display: block;
			line-height: 1em;
		
			&:hover {
				text-decoration: underline;
			}
		
		}
	}
}