.home-message {
	position: fixed;
	top:110px;
	left:30px;
	right:30px;
	z-index: 2;
	@extend .animated-slow;
	@extend .fadeIn;
	p {
		margin: 0;
	}
	&.fadeOut {
		@extend .fadeOut;
	}

	@include only-grid-4() {
		top:60px;
		left: 0;
		right: 0;
		font-size: 0.8em;
	}
	
	&.hide-message {
		display: none;
	}

	.messages {
		padding:15px;
		@include only-grid-4() {
				padding:15px 65px 15px 15px;
		}
		@include only-grid-6() {
				padding:15px 80px 15px 80px;
		}
		background: white;
		box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.23);
		text-align: center;
		font-style: italic;
		color:$gold;
		position: relative;
		line-height: 1em;
		&:after {
		    @include svg-close(14);
		    @include pseudo-block(14px, 14px);
		    left:auto;
		    right:40px;
		    transition: opacity .5s ease-in-out;
		    
		    @include only-grid-4() {
				 right:30px;
			}
		    
		}
		&:hover {
			&:after {
				opacity:0.5;
			}
		}
	}

	.close-message {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100px;
		z-index: 101;
		cursor: pointer;
	}
}

.messages.error {
	color: red;
}

.drupal-messages {
	position: fixed;
	top:80px;
	left:0;
	right:0;
	z-index:100;
	@extend .animated-slow;
	@extend .fadeIn;
	&.fadeOut {
		@extend .fadeOut;
	}

	.messages {
		padding:15px;
		background: $gold;
		box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.23);
		text-align: center;
		font-style: italic;
		color:white;
		cursor:pointer;
		&:after {
		    @include svg-close(14);
		    @include pseudo-block(14px, 14px);
		    left:auto;
		    right:40px;
		    transition: opacity .5s ease-in-out;
		}
		&:hover {
			&:after {
				opacity:0.5;
			}
		}
	}
}

