.page-teaser {
	overflow: hidden;
	
	width: 30%;
	margin-right: 5%;
	float: left;
	
	&:last-child {
	
		margin-right: 0;
		
		@include from-grid-6() {
			margin-right: auto;
		}	
		
	}
	
	.medium-title {
		max-width: 160px;
		display: block;
		line-height: 1em;
	
		@include from-grid-6() {
			max-width: none;
		}
	}
	.image {
		height: 100%;
		padding-top:100%;
		background-color: #ece9e2;
		width:100%;
		float: left;
		margin-bottom: 20px;
		@include from-grid-6() {
			width: auto;
			height: 100%;
			float: none;
		}
		background-size: cover;
		background-position: center center;
		background-blend-mode: normal;
		
		img {
			display: none;
		}
	
	}
	
	a {
		
		&:hover {
			
			.image {
			    background-blend-mode: multiply;
			}
			
		}
		
	}
		
}

