.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-price .price-amount {
  color: $gold;
}

.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-savings .price-amount,
.commerce-price-savings-formatter-prices-unchanged .commerce-price-savings-formatter-price .price-amount {
  color: $gold;
}
.commerce-price-savings-formatter-prices .price-label {
	text-align: left;
	font-family: "Crimson Text","Georgia",serif;
	font-size: 0.8em;
}

.commerce-price-savings-formatter-list .price-amount,
.commerce-price-savings-formatter-prices-down .commerce-price-savings-formatter-savings .price-amount {
	color: #666;
}

.commerce-price-savings-formatter-price .price-amount {
	color: $gold;
}

.commerce-price-savings-formatter-prices tr td {
	padding-left: 0;
}