.product-teaser {
	.image {
		position:relative;
	}
	a {
		color:white;
		.product-teaser__information {
			@extend .animated;
			@include from-grid-6() {
				display:none;
			}
		}
		&:hover {
			.product-teaser__information {
				display:block;
				@extend .fadeIn;
			}
			.field-name-field-product-state {
				@extend .fadeOut;
			}
		}
	}
}

	.product-teaser__title {
		@include only-grid-4() {
			color:#666666;
			@include adjust-font-size-to(16px, 3);
			font-family: $bodyFont;
			text-align: left;
			font-style: italic;
			text-transform: initial;
			letter-spacing:	normal;
			font-weight: normal;
			margin:0;
		}
		@include from-grid-6() {
			@include adjust-font-size-to(15px, 4);
			color:white;
			text-align: left;
		}
	}
	.product-teaser__collection {
		display: none;
		@include from-grid-6() {
			@include adjust-font-size-to(15px, 3, 15px);
			display: block;
			margin-bottom:20px;
		}
	}
	.product-teaser__price {
		@include only-grid-4() {
			color:$gold;
			@include adjust-font-size-to(16px, 3);
			font-family: $bodyFont;
			text-align: left;
			font-style: italic;
			text-transform: initial;
			margin-top:10px;
		}
		@include from-grid-6() {
			@include adjust-font-size-to(22px, 3);
			position: absolute;
			bottom:20px;
			left:20px;
		}
	}
	.product-teaser__information {
		padding:10px;
		@include from-grid-6() {
			padding:20px;
		}
	}

	/* Using the Drupal field name so it can auto hide */
	.field-name-field-product-state {
		@extend .animated;
		position: absolute;
		top:0;
		right:0;
		display: inline-block;
		background: black;
		color: white;
		font-style: italic;
		padding: 5px 10px;
		@include adjust-font-size-to(16px, 3);		

		@include from-grid-6() { 
			bottom:0;
			left:0;

			top: auto;
			right: auto;
		}
	}


	.teaser-overlay {
		@include from-grid-6() {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			width:100%;
			background:rgba(163,149,114,0.9);
		}
	}
