.st_facebook_large .stButton .stLarge {
	@include svg-facebook(8);
}
.st_pinterest_large .stButton .stLarge {
	@include svg-pinterest(16);
}
.st_twitter_large .stButton .stLarge {
	@include svg-twitter(18);
}
.stButton .stLarge:hover {
	background-position: 0 0 !important;
}