table {
	width:100%;
	@include adjust-font-size-to(18px);
}
	thead {
		tr {
			border-bottom:1px solid $lightGrey;
		}
		th {
			text-align: left;
			font-weight: normal;
			padding:rhythm(3) 0;
		}
	}

	tbody {
		tr {

		}
		td {
			padding:rhythm(3) 0;
		}
	}
