@mixin only-grid-4 {
    @include at-breakpoint($grid-4-only) { 
    	@content; 
    }
}

@mixin from-grid-4 {
    @include at-breakpoint(4) { 
        @content; 
    }
}

@mixin grid-4-to-6 {
    @include at-breakpoint($grid-4-to-6) { 
        @content; 
    }
}

@mixin only-grid-6 {
    @include at-breakpoint($grid-6-only) { 
    	@content; 
    }
}

@mixin from-grid-6 {
    @include at-breakpoint(6) { 
    	@content; 
    }
}

@mixin only-grid-9 {
    @include at-breakpoint($grid-9-only) { 
    	@content; 
    }
}

@mixin from-grid-9 {
    @include at-breakpoint(9) { 
    	@content; 
    }
}

@mixin grid-9-to-12 {
    @include at-breakpoint($grid-9-to-12) { 
        @content; 
    }
}

@mixin from-grid-12 {
    @include at-breakpoint(12) { 
    	@content; 
    }
}
