// Creates an absolutely positioned pseudo block
@mixin pseudo-block($width: 16px, $height: 16px) {
    display: block;
    content: '';
    position: absolute;
    
    width:$width;
    height:$height;

    @if $width == 100% {
        margin-left: 0;
        left:0;
    } @else {
        margin-left: -$width / 2;
        left:50%;
    }

    @if $height == 100% {
        margin-top: 0;
        top:0;
    } @else {
        margin-top: -$height / 2;
        top: 50%;
    }
}

// Hides an element visually, but makes it still available for screenreaders
@mixin hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin keyline($side: right) {
    border-#{$side}:1px solid $keyline;
}

// A11Y-wise hiding
// ------------------------
@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin element-focusable {
  &:active,
  &:focus {
    position: static !important;
    clip: auto;
  }
}

@mixin cf {
  zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin outer-container{
  @include clearfix;
  max-width: $max-width;
  padding: 0 $gutter/2;
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin cosy_padding() {
  padding:25px;
}

@mixin cosy_bleed_right() {
  margin-right:-50px;
  padding-right:50px;
}

@mixin cosy_bleed_left() {
  margin-left:-50px;
  padding-left:50px;
}

@mixin cosy_heading_font() {
   font-family:$headingFont;
   font-weight: normal;
   color:$altFontColor;
   display: block;
   text-transform: uppercase;
   font-weight: bold;
}