/* =============================================================================
   Layout
   ========================================================================== */

.container {
	@include container;


	@include at-breakpoint($grid-6) {
	    @include set-container-width;
	}
	@include at-breakpoint($grid-8) {
	    @include set-container-width;
	}
	@include at-breakpoint($grid-10) {
	    @include set-container-width;
	}  
	@include at-breakpoint($grid-12) {
	    @include set-container-width;
	}
}  


/* =============================================================================
  Nav
   ========================================================================== */
.mark {
	position: absolute;
	bottom: rhythm(9);
	@include at-breakpoint($grid-6) {
			bottom: rhythm(3);
	}
	left: 20px;
	padding: 0px;
	margin: 0;
	@include background-svg("design-for-europe", 90);

}

/* =============================================================================
  Nav
   ========================================================================== */
nav {
	position: absolute;
	bottom: 0;
	left: 20px;
	@include at-breakpoint($grid-6) {
		left:auto;
		right: 0;
	}
	padding:rhythm(10) 0;
	ul {
		li {
			text-transform: uppercase;
			float:left;
			margin:0 rhythm(4) 0 0;
		}
	}
}

/* =============================================================================
   List - logo grid
   ========================================================================== */
.partner-logo-grid {
    .partner-logo {
    	width:50%;
    	height:0;
    	padding-bottom:50%;
    	display: block;
    	float:left;
		@include at-breakpoint($grid-6) {
			width:25%;
			padding-bottom:25%;
		}
    }

}

.partner-main-logo {
    	width:50%;
    	height:0;
    	display: block;
    	float:left;
    	text-indent:-9999px;
    	background-size:auto;
    	margin-right:10%;
    	margin-top:40px;

    	@include at-breakpoint($grid-6) {
    		margin-right:15%;
    	}

    	& + & {
    		margin-right:0;
    	}
    }
/* =============================================================================
   Default section
   ========================================================================== */
.page-section {
	@extend .clearfix;
	overflow: hidden;
	padding:rhythm(14) 0;
}
	.section-title {
		position: relative;
		margin-bottom: rhythm(5);

		@include at-breakpoint($grid-8) {
			@include span-columns(3,$grid-8);
		}

		@include at-breakpoint($grid-10) {
			@include span-columns(3,$grid-10);
			@include post(1);
		}

		@include at-breakpoint($grid-12) {
			@include span-columns(4,$grid-12);
			@include post(1);
		}

		&:after {
			content:"";
			display: block;
			width:26px;
			height:2px;
			position: absolute;
			bottom: -14px;
			left: 0;
			border-bottom:2px solid $baseFontColor;
		}
	}

	.section-copy {

		@include at-breakpoint($grid-8) {
			@include span-columns(5,$grid-8);
			@include nth-omega(2n);
		}

		@include at-breakpoint($grid-10) {
			@include span-columns(6,$grid-10);
			@include nth-omega(2n);
		}

		@include at-breakpoint($grid-12) {
			@include span-columns(7,$grid-12);
			@include nth-omega(2n);
		}
	}


/* =============================================================================
   Intro section
   ========================================================================== */

.intro {
	background:$darkGrey;
	color: white;
	padding:0;
    background-image: inline-image('svg/hero-background.svg'), none;
    background-position:0 0;
    background-size:100% 100%;

	.container {
		position: relative;
		padding:rhythm($introPadding) 1em rhythm(40) 1em;
		@include at-breakpoint($grid-6) { 
			padding:rhythm($introPadding) 1em;
		}
	}

	.section-title {
		@include adjust-font-size-to(24px);
		@include at-breakpoint($grid-8) {
			@include adjust-font-size-to(32px);
			@include span-columns(6,$grid-8);
		}
		@include at-breakpoint($grid-10) {
			@include adjust-font-size-to(40px);
			@include span-columns(6,$grid-10);
		}
		@include at-breakpoint($grid-12) {
			@include span-columns(8,$grid-12);
		}
		&:after {
			display:none;
		}
	}
	
	.section-copy {
		clear:both;
		@include at-breakpoint($grid-8) {
			@include span-columns(6,$grid-8);
		}
		@include at-breakpoint($grid-10) {
			@include span-columns(6,$grid-10);
		}

		@include at-breakpoint($grid-12) {
			@include span-columns(6,$grid-12);
		}
		margin-top:rhythm(5);
	}
}

.where-design-helps {
	background: white;
}

.sectors {
	background: white;
	padding:rhythm(7) 0;

	@include at-breakpoint($grid-6) {
		margin-top: rhythm(7);
	}
	@extend .clearfix;
	overflow: hidden;
	.sector {
		h4 {
			margin:0 0 rhythm(2) 0;
		}
		p {
			@include adjust-font-size-to(14px);
		}
		.padder {
			padding: rhythm(4) rhythm(4) 0 rhythm(4);
		}
		@include at-breakpoint($grid-6) {
			@include span-columns(3,$grid-6);
			@include nth-omega(2n);
			.padder {
				padding:0;
			}
		}
		@include at-breakpoint($grid-8) {
			@include span-columns(2,$grid-8);
			@include remove-nth-omega(2n);
			@include nth-omega(4n);
		}
		@include at-breakpoint($grid-12) {
			@include span-columns(3,$grid-12);
			@include remove-nth-omega(2n);
			@include nth-omega(4n);
		}

	}
}

.audiences {

}

.three-years {
	background: white;
}

.partners {

}

.all-partners {
	background: white;
}

.newsletter {
	background: $darkGrey;
	padding:rhythm(4) 0;
	@include at-breakpoint($grid-6) {
		padding:rhythm(14) 0;
	}
}




/* =============================================================================
   Logos
   ========================================================================== */
.arc-fund {
	@include png-use-sprite('arc-fund');
}

.birmingham-city-university {
	@include png-use-sprite('birmingham-city-university');
}

.ddc {
	@include png-use-sprite('ddc');
}

.eesti-design-centre {
	@include png-use-sprite('eesti-design-centre');
}

.european-network-of-living-labs {
	@include png-use-sprite('european-network-of-living-labs');
}

.invest-northern-ireland {
	@include png-use-sprite('invest-northern-ireland');
}

.kepa {
	@include png-use-sprite('kepa');
}

.la-27e {
	@include png-use-sprite('la-27e');
}

.lancaster-university {
	@include png-use-sprite('lancaster-university');
}

.luxinnovation {
	@include png-use-sprite('luxinnovation');
}

.nesta {
	@include png-use-sprite('nesta');
}

.politecnico-di-milano {
	@include png-use-sprite('politecnico-di-milano');
}
.european-commission {
	@include png-use-sprite('european-commission');
	max-width:164px;
	padding-bottom: 115px;
}
.design-council {
	@include png-use-sprite('design-council');
	max-width:100px;
	padding-bottom:99px;
}


/* =============================================================================
   Illustrations
   ========================================================================== */
.lineart {
	width:100%;
	height:0;
	padding-bottom:100%;
	margin-bottom: rhythm(3);
	&.enterprise {
		@include background-svg-fluid("lineart-enterprise", 300);
	}
	&.policy {
		@include background-svg-fluid("lineart-policy", 300);
	}
	&.public-sector {
		@include background-svg-fluid("lineart-public-sector", 300);
	}
	&.leadership {
		@include background-svg-fluid("lineart-leadership", 300);
	}
}
