/* =============================================================================
   Basic form styling
   ========================================================================== */
@mixin button-style() {
	font-family: "Crimson Text", "Georgia", serif;
	border:none;
	background: $gold;
	color: white;
	font-style:italic;
	padding: 15px 30px;
	@include adjust-font-size-to(18px, 3);
	@include transition-property(background, color);
	@include transition-duration(0.5s);
	&:hover {
		background: black;
		color: $gold;
	}
}

select,
input[type="submit"],
input[type="input"] {
	font-family:$bodyFont;
}

input[type="submit"] {
	@include button-style();
}

input[type="password"],
input[type="text"] {
	padding:10px 20px;
	border:1px solid $lightGrey;
	@include adjust-font-size-to(18px, 3);
}

fieldset {
	border:none;
	legend {
		font-weight: bold;
		display: block;
	}
}

select {
	padding:10px 20px;
	border:1px solid $lightGrey;
	@include adjust-font-size-to(18px, 3);
}

.password-strength {
	.password-strength-text {
		font-size: 16px;
		float: right;
	}
	.password-strength-title {
		font-size: 16px;
		float: left;
	}
	.password-indicator {
		width: 100%;
		background: $black;
		clear: both;
		margin-top: 10px;
		.indicator {
			height: 2px;
			background: $gold;
		}
	}
}
.password-confirm {
	font-size: 16px;
}