/* =============================================================================
   Links
   ========================================================================== */

a:link,
a:visited {
	color:$linkColor;
	text-decoration:none;
}   
a:hover,
a:focus,
a:active {
	color:$linkColorHover;
}