/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin-bottom:rhythm(2);
	padding-left:40px;
}   
ul {
	list-style-type:disc;
}


/* =============================================================================
   Default lists
   ========================================================================== */
ul {
	margin:0 0 20px;
	padding:0;
	li {
		list-style-position: inside;
		@include adjust-font-size-to(18px, 4, 20px);
		margin:0 0 rhythm(2) 0;
	}
}
